
@font-face{
    font-family: "cafe";
    src: url(../fontes/cafe/Louis\ George\ Cafe.ttf) format("truetype");
}

:root{
    --cor01: #09EBAC;
    --cor02: #246B57;
    --cor03: #07B886;
    --cor04: #046B4E;
    --cor05: #51EEC1;
    --fontepad: "cafe", cursive;
}


@media screen and (max-width: 765px){

    body{
        margin: 0;
        background-color: rgb(12, 136, 158);
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
        scrollbar-width: 120px;
    }

    body::-webkit-scrollbar{
        width: 50px;
    }
        

    header{
        margin-bottom: 1em;
        color: white;
        background-color: black;
    }

    aside{
        display: flex;
        justify-content: center;
    }

    ::-webkit-scrollbar{
        width: 0;
    }

    #h1{
        margin: 0;
        text-align: center;
    }


    #barra{
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 60px;
        background-color: black;
    }

    .ibl{
        height: 50px;
        width: 50px;
        margin-left: 30px;
        padding-top: 6px;
    }

    .imgcont{
        width: 40px;
        height: 40px;
    }

    #cont_style{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #contliv{
        width: 100%;
        height: 100%;
        display: inline-block;
    }


    .capalivro{
        width: 8.8em;
        height: 8.8em;
        border-radius: 20px;
        margin: 0em;
    }

    .capalivro:hover{
        scale: 1.1;
    }

    .linklivro{
        text-decoration: none;
    }
} /*Mobile*/

@media screen and (min-width: 766px){
    body{
        margin: 0;
        background-color: rgb(12, 136, 158);
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }

    ::-webkit-scrollbar{
        width: 0px;
    }

    header{
        display: flex;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: center;
        background-color: black;
    }

    a{
        text-decoration: none;
    }

    #h1{
        margin: 0;
        color: white;
    }

    .capalivro{
        height: 250px;
        width: 230px;
        border-radius: 10px;
        margin: 10px 5px;
    }

    .capalivro:hover{
        scale: 1.1;
        margin: 0.5em;  
    }

    #contliv{
        display: inline-block;
        width: 98%;
        margin: 10px 0px 10px 20px;
    }

    #barra{
        position: fixed;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        align-items: center;
        background-color: black;
    }

    .ibl{
        display: flex;
        width: 40px;
        height: 40px;
        margin: 50px auto 0px auto;
        justify-content: center;
    }

    .imgcont{
        width: 45px;
        height: 45px;
    }
}/*Normal*/