@font-face{
    font-family: "cafe";
    src: url(../fontes/cafe/Louis\ George\ Cafe.ttf) format("truetype");
}

:root{
    --cor01: #09EBAC;
    --cor02: #246B57;
    --cor03: #07B886;
    --cor04: #046B4E;
    --cor05: #51EEC1;
    --fontepad: "cafe", cursive;
}

*{
    margin: 0;
    padding: 0;
}

@media  screen and (max-width: 765px){
    body{
        display: grid;
        height: 100vh;
        place-items: center;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }

    #h1{
        padding-top: 0.4em;
        margin: 0.67em;
    }

    #div-cont{
        width: 23.5em;
        height: 24em;
        background: white;
        border-radius: 1.1em;
        text-align: center;
    }

    #email{
        width: 15em;
        height: 2em;
        margin-bottom: 2em;
        border-radius: 0.2em;
        border: none;
    }

    #pass{
        width: 15em;
        height: 2em;
        margin-bottom: 2em;
        border-radius: 0.2em;
        border: none;
    }

    #div-aviso{
        padding-top: 30%;
    }

    #enviar{
        width: 10em;
        height: 2.4em;
        color: black;
        background: greenyellow;
        border-radius: 0.5em;
        margin-bottom: 0.7em;
        border: none;
    }

    #enviar:hover{
        color: white;
        cursor: pointer;
        background: green;
    }

    #linkaviso:visited{
        color: blue
    }

    ::placeholder{
        text-align: center;
    }
} /*Mobile*/

@media screen and (min-width: 766px){
    body{
        margin: 0;
        display: grid;
        height: 100vh;
        place-items: center;
        text-align: center;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }


    #h1{
        padding-top: 0.7em;
        margin-bottom: 0.67em;
    }

    #div-cont{
        width: 24em;
        height: 26em;
        text-align: center;
        background-color: white;
        border-radius: 1.1em;
    }

    #email{
        width: 15em;
        height: 2em;
        margin-bottom: 2em;
        border-radius: 0.2em;
        border: none;
    }

    #pass{
        width: 15em;
        height: 2em;
        margin-bottom: 2em;
        border-radius: 0.2em;
        border: none;
    }

    #enviar{
        width: 10em;
        height: 2.4em;
        color: black;
        background:rgb(156, 228, 49);
        border-radius: 0.5em;
        margin-bottom: 0.7em;
        border: none;
    }

    #enviar:hover{
        color: white;
        cursor: pointer;
        background: green;
    }

    #div-aviso{
        padding-top: 40%;
        font-size: 1em;
    }

    #linkaviso:visited{
        color: blue;
    }

    ::placeholder{
        text-align: center;
    }
} /*Normal*/


