@font-face{
    font-family: "cafe";
    src: url(../fontes/cafe/Louis\ George\ Cafe.ttf) format("truetype");
}

:root{
    --cor01: #09EBAC;
    --cor02: #246B57;
    --cor03: #07B886;
    --cor04: #046B4E;
    --cor05: #51EEC1;
    --fontepad: "cafe", cursive;
}


@media  screen and (max-width: 765px) {
    body{
        display: flex;
        align-content: center;
        justify-content: center;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }

    #h1{
        padding-top: 10px;
    }

    #div-cont{
        width: 380px;
        height: 380px;
        background: white;
        border-radius: 20px;
        text-align: center;
        margin-top: 30%;
    }

    #email{
        width: 200px;
        height: 25px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
    }

    #pass{
        width: 200px;
        height: 25px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
    }

    #div-aviso{
        padding-top: 25%;
    }

    #enviar{
        width: 150px;
        height: 30px;
        color: black;
        background: greenyellow;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #enviar:hover{
        color: white;
        background: green;
    }

    #linkaviso:visited{
        color: blue
    }

    ::placeholder{
        text-align: center;
    }
}

@media screen and (min-width: 766px){
    body{
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }


    #h1{
        padding-top: 10px;
    }

    #div-cont{
        width: 380px;
        height: 380px;
        text-align: center;
        background-color: white;
        border-radius: 10px;
        margin-top: 30%;
    }

    #email{
        width: 200px;
        height: 25px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
    }

    #pass{
        width: 200px;
        height: 25px;
        margin-bottom: 30px;
        border-radius: 3px;
        border: none;
    }

    #enviar{
        width: 150px;
        height: 30px;
        color: black;
        background: greenyellow;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    #enviar:hover{
        color: white;
        background: green;
    }

    #div-aviso{
        padding-top: 25%;
        font-size: 17px;
    }

    #linkaviso:visited{
        color: blue;
    }

    ::placeholder{
        text-align: center;
    }
}


