@media screen and (max-width: 765px){
    body{
        margin: 0;
        background: gray;
        font-family: Arial, Helvetica, sans-serif;
    }

    header{
        color: white;
        margin-bottom: 20px;
        background-color: black;
    }

    ::-webkit-scrollbar{
        width: 0;
    }

    #h1{
        margin: 0;
        text-align: center;
    }

    #barra{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 55px;
        background-color: black;
    }

    .ibl{
        height: 50px;
        width: 50px;
        margin-left: 30px;
        padding-top: 6px;
    }

    #container{
        margin: auto;
        height: 435px;
        width: 360px;
        border-radius: 15px;
        color: black;
        background-color: white;
    }

    #divimg{
        display: flex;
        margin: 0px auto 100px auto;
        width: 100px;
        height: 100px;
        padding-top: 18px;
        justify-content: center;
    }

    #imgcont{
        width: 190px;
        height: 190px;
        border-radius: 15px;
    }

    #desc{
        margin: 0 auto;
        width: 280px;
        height: 10px;
        text-align: justify;
    }

    .imgcont{
        width: 40px;
        height: 40px;
    }

    #txt{
        text-indent: 25px;
    }
} /*Mobile*/


@media screen and (min-width: 766px){
    
    body{
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        background: gray;
    }

    header{
        height: 50px;
        background-color: black;
        margin-bottom: 20px;
    }

    main{
        margin: 0;
    }

    ::-webkit-scrollbar{
        width: 0;
    }

    #h1{
        margin: 0;
        padding-top: 5px;
        color: white;
        text-align: center;
    }

    #barra{
        display: inline-block;
        position: fixed;
        top: 0;
        right: 0;
        width: 60px;
        height: 100%;
        background-color: black;
        justify-content: center;
    }

    .ibl{
        width: 40px;
        height: 40px;
        margin: 50px auto 0px auto;
    }

    .imgcont{
        width: 45px;
        height: 45px;
    }

    #container{
        margin: 0 auto;
        width: 500px;
        height: 500px;
        background-color: white;
        border-radius: 10px;
    }

    #divimg{
        display: flex;
        width: 310px;
        height: 250px;
        justify-content: center;
        margin: 0px auto 5px auto;
        padding-top: 10px;
    }

    #desc{
        display: flex;
        margin: 0 auto;
        width: 390px;
        height: 140px;
        text-align: justify;
        justify-content: center;
        font-size: 20px;
    }

    #desc ~ p {
        width: 100%;
        height: 100%;
    }
    #imgcont{
        width: 210px;
        height: 210px;
        border-radius: 12px;
        margin-top: 10px;
    }

    #txt{
        text-indent: 25px;
    }
} /*Normal*/