@font-face{
    font-family: "cafe";
    src: url(../fontes/cafe/Louis\ George\ Cafe.ttf) format("truetype");
}

:root{
    --cor01: #09EBAC;
    --cor02: #246B57;
    --cor03: #07B886;
    --cor04: #046B4E;
    --cor05: #51EEC1;
    --fontepad: "cafe", cursive;
}

*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 690px){
    body{
        margin: 0;
        display: grid;
        height: 100vh;
        place-items: center; 
        font-family: var(--fontepad), cursive;
        background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    }

    header{
        display: grid;
        color: white;
        position: fixed;
        top: 0; 
        width: 100%;
        height: 3em;
        place-items: center;
        text-align: center;
        background-color: black;
    }

    ::-webkit-scrollbar{
        width: 0;
    }

    #h1{
        margin: 0;
        text-align: center;
    }

    #barra{
        display: flex;
        justify-content: center;
        position: fixed;
        bottom: 0em;
        left: 0em;
        width: 100%;
        height: 3.6em;
        background-color: black;
    }

    .ibl{
        height: 5em;
        width: 3.3em;
        margin-left: 1.5em;
        padding-top: 0.2em;
        border-radius: 1em;
    }

    #container{
        margin: auto;
        height: 25em;
        width: 20em;
        border-radius: 1em;
        color: black;
        background-color: white;
    }

    #divimg{
        display: flex;
        margin: 0em auto 4em auto;
        width: 10em;
        height: 10em;
        padding-top: 1.2em;
        justify-content: center;
    }

    #imgcont{
        width: 12em;
        height: 11em;
        border-radius: 1em;
    }

    #desc{
        margin: 0 auto;
        width: 14em;
        height: 1em;
        text-align: justify;
    }

    .imgcont{
        width: 2.5em;
        height:  2.5em;
        border-radius: 0.6em;
        padding: 0.3em;
    }

    .imgcont:hover{
        transition: all 0.1s ease-in-out;
        background-color: rgba(255, 255, 255, 0.089);
    }

    #txt{
        text-indent: 1.3em;
    }
} /*Mobile*/


@media screen and (min-width: 691px){

    body{
        display: grid;
        height: 100vh;
        place-items: center;
        font-family: var(--fontepad), cursive;
        background: url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    }

    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 3em;
        background-color: black;
    }

    #h1{
        margin: 0;
        padding-top: 0.2em;
        color: white;
        text-align: center;
    }

    #barra{
        display: grid;
        position: fixed;
        top: 0;
        right: 0;
        width: 3.9em;
        height: 100%;
        background-color: black;
        place-items: center;
        justify-content: center;
    }

    .ibl{
        width: 2em;
        height: 3em;
    }

    .imgcont{
        width: 2.7em;
        height: 2.7em;
        border-radius: 0.5em;
    }

    .imgcont:hover{
        transition: all 0.1s ease-in-out;
        background-color: rgba(177, 175, 152, 0.267);
    }

    #container{
        width: 31em;
        height: 31em;
        background-color: rgb(255, 255, 255);
        border-radius: 0.9em;
    }

    #divimg{
        display: flex;
        width: 10em;
        height: 10em;
        justify-content: center;
        margin: 0em auto 10em auto;
        padding-top: 1em;
    }

    #desc{
        display: flex;
        margin: 0 auto;
        width: 20em;
        height: 6em;
        text-align: justify;
        justify-content: center;
        font-size: 1.3em;    
    }

    #desc ~ p {
        width: 100%;
        height: 100%;
    }

    #imgcont{
        width: 20em;
        height: 15em;
        border-radius: 1em;
        margin-top: 1em;
    }

    #txt{
        text-indent: 1.6em;
    }
} /*Normal*/
