@font-face{
    font-family: "cafe";
    src: url(../fontes/cafe/Louis\ George\ Cafe.ttf) format("truetype");
}

:root{
    --cor01: #09EBAC;
    --cor02: #246B57;
    --cor03: #07B886;
    --cor04: #046B4E;
    --cor05: #51EEC1;
    --fontepad: "cafe", cursive;
}

*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 690px){

    body{
        display: grid;
        height: 100vh;
        place-items: center;
        margin: 0;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }

    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 3em;
        color: white;
        background-color:black;
    }

    #h1{
        text-align: center;
    }

    #barra{
        display: flex;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 3.6em;
        background-color: black;
        justify-content: center;
    }

    .ibl{
        height: 50px;
        width: 50px;
        margin-left: 30px;
        padding-top: 6px;
    }

    .imgcont{
        width: 2.5em;
        height: 2.5em;
        border-radius: 0.6em;
        padding: 0.3em;
    }

    #cont{
        display: flex;
        width: 20em;
        height: 20em;
        margin: 0 auto;
        justify-content: center;
    }

    #divtxtu{
        display: inline-block;
        width: 18em;
        height: 20em;
        color: white;
        background-color: black;
        border-radius: 1em 0em 0em 1em;
    }

    #divtxtd{
        display: inline-block;
        width: 18em;
        height: 20em;
        color: white;
        background-color: black;
        border-left: ridge;
        border-width: 0.05px;
        border-radius: 0em 1em 1em 0em;
    }

    #txt{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 0em 4px 1em;
    }

    .txt{
        padding: 0.5em 0px 0.4em 1em;
    }
} /*Mobile*/

@media screen and (min-width: 691px){
    body{
        display: grid;
        height: 100vh;
        place-items: center;
        margin: 0;
        font-family: var(--fontepad), cursive;
        background: linear-gradient(to right, var(--cor01), var(--cor03));
    }

    header{
        position: fixed;
        top: 0;
        width: 100%;
        height: 3em;
        color: white;
        background-color: black;
    }

    #h1{
        margin: 0;
        text-align: center;
    }

    #cont{
        display: flex;
        width: 30em;
        height: 31em;   
        justify-content: center;
        border-radius: 1em;
    }

    #divtxtu{
        display: inline-block;
        width: 15em;
        height: 25em;
        color: white;
        text-align: center;
        background-color: black;
        font-size: 1.25em;
        border-radius: 1em 0px 0px 1em;
        padding: 0.5em;
    }

    #divtxtd{
        display: inline-block;
        width: 13em;
        height: 25em;
        color: white;
        background-color: black;
        border-left: ridge;
        border-width: 1px;
        text-align: center;
        font-size: 1.25em;
        border-radius: 0px 1em 1em 0px;
        padding: 0.5em;
    }

    #barra{
        position: fixed;
        right: 0;
        top: 0;
        width: 3.9em;
        height: 100%;
        background-color: black;
    }

    .ibl{
        display: flex;
        width: 40px;
        height: 40px;
        margin: 50px auto 0px auto;
        justify-content: center;
    }

    .imgcont{
        width: 45px;
        height: 45px;
    }
} /*Normal*/